

.introText {
display: flex;
flex-direction: column;
align-items: center; /* optional: centers text horizontally */
margin: 25%;
}

.introTextContainer {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;         /* space between the names */
    justify-content: center; /* center horizontally */
    align-items: baseline;   /* align text on the same line */
    margin: 5%
}

.myName {
  font-size: clamp(4rem, 10vw, 8rem);
  margin: 0;
}

.jobTitle {
  font-size: clamp(2.2rem, 2.5vw, 4rem);
  margin: 0;
}

.sectionTitle {
  font-size: clamp(4rem, 2.5vw, 6rem);
  margin: 30% 0 0 15% 
}

.cardContainer {
  display: flex;
  justify-content: space-evenly; /* Evenly space the cards */
  align-items: center; /* Align cards vertically */
  width: 100%; /* Full width of the screen */
  padding: 1rem; /* Optional: Add some padding */
  box-sizing: border-box; /* Include padding in width calculation */
}

.card {
  flex: 1; /* Allow cards to grow and take equal space */
  margin: 0 1rem; /* Add spacing between cards */
  text-align: center;
  border-radius: 10px;
  font-size: 1.25rem;
  height: 10rem;
}

.parallax {
margin-right: 15%;
}

.sticky {
margin-left: 15%;
background-color: #ff6d6d;
}

.blue {
background-color: #5b65ad;
color: white;
}

.purple {
background-color: #9d65d0;
}
