.aboutContainer {
    margin: 1.5% 5% 10% 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image {
    width: 45%;
}

.textContainer {
    margin-top: 5%
}

@media (max-width: 768px) {
    .aboutContainer {
      margin-top: 0;
      flex-direction: column; /* Change to horizontal layout on smaller screens */
      justify-content: center; /* Center the content horizontally */
    }
  
    .image {
      width: 60%;
    }
  }