.main {
  background: 
    /*radial-gradient(at 72% 38%, hsla(187,92%,66%,1) 0px, transparent 50%),
    radial-gradient(at 40% 31%, hsla(59,65%,60%,1) 0px, transparent 50%),
    radial-gradient(at 6% 65%, hsla(123,62%,64%,1) 0px, transparent 50%),
    radial-gradient(at 87% 0%, hsla(235,85%,68%,1) 0px, transparent 50%),
    radial-gradient(at 26% 95%, hsla(307,92%,71%,1) 0px, transparent 50%),
    radial-gradient(at 6% 6%, hsla(253,88%,78%,1) 0px, transparent 50%),
    radial-gradient(at 92% 91%, hsla(134,62%,79%,1) 0px, transparent 50%),*/
    radial-gradient(at 10% 87%, hsla(217,100%,71%,0.75) 0px, transparent 50%),
    radial-gradient(at 46% 3%, hsla(18,59%,72%,0.75) 0px, transparent 50%),
    radial-gradient(at 93% 89%, hsla(211,93%,77%,0.75) 0px, transparent 50%),
    radial-gradient(at 95% 35%, hsla(156,84%,74%,0.75) 0px, transparent 50%),
    radial-gradient(at 73% 21%, hsla(215,88%,74%,0.75) 0px, transparent 50%),
    radial-gradient(at 18% 9%, hsla(59,81%,76%,0.75) 0px, transparent 50%),
    radial-gradient(at 52% 81%, hsla(344,71%,66%,0.75) 0px, transparent 50%),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 243 243'%3E%3Cfilter id='noise'%3E%3CfeTurbulence baseFrequency='1.8' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' /%3E%3C/svg%3E");
  ;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
