.introContainer {
  background: 
  radial-gradient(at 10% 87%, hsla(217,100%,71%,0.75) 0px, transparent 50%),
  radial-gradient(at 46% 3%, hsla(18,59%,72%,0.75) 0px, transparent 50%),
  radial-gradient(at 93% 89%, hsla(211,93%,77%,0.75) 0px, transparent 50%),
  radial-gradient(at 95% 35%, hsla(156,84%,74%,0.75) 0px, transparent 50%),
  radial-gradient(at 73% 21%, hsla(215,88%,74%,0.75) 0px, transparent 50%),
  radial-gradient(at 18% 9%, hsla(59,81%,76%,0.75) 0px, transparent 50%),
  radial-gradient(at 52% 81%, hsla(344,71%,66%,0.75) 0px, transparent 50%),
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 243 243'%3E%3Cfilter id='noise'%3E%3CfeTurbulence baseFrequency='1.8' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' /%3E%3C/svg%3E");
;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5% 3% 10% 3%;
  padding: 8% 10% 15% 10%;
  border-radius: 16px;
}

/*
.introSection {
  width: clamp(5rem, 3vw, 8rem);
}
*/

.introTextContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;         /* space between the elements */
  justify-content: start; 
  align-items: baseline; 
  margin: 0 
}

.myName {
  font-size: clamp(3.2rem, 10vw, 11rem);
  margin: 0;
}

.jobTitle {
  font-size: clamp(1.5rem, 3.5vw, 4rem);
  font-weight: 400;
  margin: 0;
}

.descriptionContainer{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 5% 0 0 0;
}

.descriptionContainer p {
  font-size: clamp(0.9rem, 2.5vw, 1.4rem);
  margin: 0; 
}

.scrollIcon {
  margin-top: clamp(4rem, 4vh, 6rem);
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .scrollIcon {
    display: none;;
  }
}